<!-- base -->
#more		{
	color:red;
}
#back 		{
	background-image: url('tweed.png');
	background-attachment:fixed;
	min-height:800px;
	margin-bottom:0px;
}
#main		{
	border: 5px solid blue;
	background-color: white;
	color: black;
}
#spacer		{
	min-height:20px;
	
}
#spacer2	{
	min-height:10px;
	background-color: black;
}
footer		{
	background-image: url('footer.png');
	min-height:150px;
	color:white;
	text-align:center;
}
<!-- home -->
#img1 		{
	height: 350px;
	width: 490px;
}
#img2 		{
	height: 350px;
	width: 400px;
}
#img3 		{
	height: 350px;
	width: 600px;
}
.slider		{
	margin: 0 auto;
	width:600px;
}
li			{
	font-size: 18px;
}

<!-- Cv -->
#contact	{
	border: 5px solid black;
	background-color: white;
}
h3			{
	text-decoration: underline;
}
#work		{
	text-align: center;
}
#topic		{
	text-decoration: underline;
}
#cv			{
	text-align: center;
	font-size: 18px;
}
#headin		{
	text-decoration: underline;
}
<!--portfolio-->
#main2		{
	border: 5px solid blue;
	background-color: white;
	color: black;
	max-height: 1000px;
}
#video		{
		margin: 0 auto;
		min-height: 200px;		
		width: 50%;
		height: 700px;
		float: left;
}
.video-container {
	position:relative;
	padding-bottom:40%;
	padding-top:0;
	max-height: 0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.video-container  {
	max-height:315px;
	max-width:560px;
}
iframe		{
	max-height: 315;
	max-width: 560;
	}
